/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/


body {
  background-color: #228658
}
h1 {
  color: #6d0814;
  font-family: 'Rouge Script', cursive;
  font-size: 100px;
  font-weight: normal;
  line-height: 48px;
  margin: 5 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
}

p {
  color: brown;
  font-family: 'Chaparral Pro', sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
  margin: 0 0 24px;
  text-shadow: 1px 1px 1px #082b34;
}

p.poem {
  padding-top: 40
  color: white;
  font-family: 'Carme', sans-serif;
  font-size: 11px;
  line-height: 24px;
  margin: 60px 60px 24px;
  text-align: center
  
}